version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: babyfoot-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: babyfoot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
